spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://${AUTH_SERVICE:localhost}:8082
              predicates:
                - Path=/auth/**
            - id: user-service
              uri: http://${USER_SERVICE:localhost}:8084
              predicates:
                - Path=/api/users/**
              filters:
                - name: JwtFilter
            - id: event-service
              uri: http://${EVENT_SERVICE:localhost}:8083
              predicates:
                - Path=/event/**
              filters:
                - name: JwtFilter
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

server:
  port: 8081
  url: "http://localhost:${server.port}"
  forward-headers-strategy: framework

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.web: TRACE

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
  endpoint:
    health:
      show-details: always