spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://auth-service:8082
              predicates:
                - Path=/auth/**
            - id: user-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/users/**
              filters:
                - name: JwtFilter
            - id: event-service
              uri: http://event-service:8083
              predicates:
                - Path=/events/**
              filters:
                - name: JwtFilter
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

server:
  port: 8081
  url: "http://localhost:${server.port}"